@import url("_include-media.scss");
* {
  text-decoration: none;
  list-style: none;
  color: rgb(227, 216, 201);
}

html::-webkit-scrollbar {
  background-color: rgba(242, 255, 255, 0.966);
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 44, 44, 0.555);
  height: 6px;
  width: 6px;
  border-radius: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.up img {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50rem;
  right: 2rem;
}

@media screen and (max-width: 1023px) and (min-width: 280px) {
  header {
    position: fixed;
    width: 100%;
    height: 2cm;
    background-color: #ffffff;
  }
  header ul {
    display: block;
    z-index: 4;
    position: absolute;
    left: 6.1rem;
    align-items: center;
    justify-content: center;
    top: -4rem;
    padding-bottom: 12.5cm;
  }
  header ul li {
    margin: 23px;
  }
  header ul li a {
    font-size: 23px;
    padding: 6px;
  }
  .logo {
    position: fixed;
    top: 1.4rem;
    left: 2.4rem;
    width: 3cm;
    height: 1.5cm;
    z-index: 6;
  }
  .header {
    position: absolute;
    top: 7.78rem;
    transform: translateY(-150rem);
    width: 100%;
    height: 43rem;
    background-color: #1ed661;
    z-index: 4;
    transition: 0.6s;
  }
  .versionAng {
    margin: 7rem;
    position: absolute;
    top: 34rem;
    left: 1.5rem;
  }
  #ang {
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  .logoBurger i {
    font-size: 30px;
    position: relative;
    float: right;
    right: -33rem;
    top: 1.5rem;
    border-radius: 50%;
    padding: 7px;
    border: 1.5px solid black;
    z-index: -4;
    color: black;
  }
  .logoBurger i:hover {
    border: 0px solid #1ed661;
    background-color: #1ed640;
  }
  .hideshow {
    transform: translateY(-0.2rem);
    transition: 0.5s;
  }
  .couvertureEst img {
    width: 100%;
    left: 0;
    display: none;
  }
  .couvertureEst_responsive img {
    width: 100%;
    left: 0;
    height: 60rem;
    display: inline-block;
  }
  .title_east {
    font-size: 39px;
    left: 4rem;
    top: 60rem;
    text-align: center;
  }
  .east .desc {
    font-size: 18px;
    left: 4.2rem;
    top: 82rem;
    width: 82vw;
  }
  .east_day {
    position: absolute;
    top: 118rem;
    left: -30rem;
  }
  .east_day .titre_east {
    font-size: 35px;
    position: absolute;
    left: 40rem;
    color: rgb(51, 25, 7);
    font-weight: 600;
    color: rgb(44, 187, 44);
    top: 19.5rem;
    width: 75vw;
    position: absolute;
  }
  .east_day .day1 {
    width: 85vw;
    height: 26rem;
    position: absolute;
    top: 32rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day .day1 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day1 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day .day2 {
    width: 85vw;
    height: 34rem;
    position: absolute;
    top: 72rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day .day2 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day2 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 6rem;
    color: rgb(45, 45, 45);
  }
  .east_day .day3 {
    width: 85vw;
    height: 33rem;
    position: absolute;
    top: 118rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day3 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day3 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day .day4 {
    width: 85vw;
    height: 37rem;
    position: absolute;
    top: 163rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day4 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day4 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day .day5 {
    width: 85vw;
    height: 18rem;
    position: absolute;
    top: 213rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day5 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day5 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day .day6-7-8 {
    width: 85vw;
    height: 14rem;
    position: absolute;
    top: 207rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day6-7-8 h1 {
    font-size: 21px;
    position: absolute;
    left: 5.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day9 {
    width: 85vw;
    height: 16rem;
    position: absolute;
    top: 270rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day9 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day9 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 8rem;
    color: rgb(45, 45, 45);
  }
  .east_day .day10 {
    width: 85vw;
    height: 16rem;
    position: absolute;
    top: 298rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day10 h1 {
    font-size: 21px;
    position: absolute;
    left: 1.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day .day10 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day .day6-7-8 {
    width: 85vw;
    height: 14rem;
    position: absolute;
    top: 243rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day6-7-8 h1 {
    font-size: 21px;
    position: absolute;
    left: 5.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane {
    position: absolute;
    top: 460rem;
    left: 0rem;
  }
  .east_day_pangalane .titre_east {
    font-size: 23px;
    position: absolute;
    left: 2.5rem;
    color: rgb(51, 25, 7);
    font-weight: 600;
    font-weight: 700;
    color: rgb(44, 187, 44);
    top: -18rem;
    width: 87vw;
    position: absolute;
  }
  .east_day_pangalane .titre_east span {
    color: rgb(44, 187, 44);
    position: absolute;
    left: 2rem;
    top: 4rem;
  }
  .east_day_pangalane .day1 {
    width: 85vw;
    height: 26rem;
    position: absolute;
    top: -2rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day_pangalane .day1 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day1 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day2 {
    width: 85vw;
    height: 34rem;
    position: absolute;
    top: 35rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day_pangalane .day2 h1 {
    font-size: 23px;
    position: absolute;
    left: 1rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day2 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 6rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day3 {
    width: 85vw;
    height: 30rem;
    position: absolute;
    top: 81rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day3 h1 {
    font-size: 25px;
    position: absolute;
    left: 4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day3 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day4 {
    width: 85vw;
    height: 34rem;
    position: absolute;
    top: 120rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day4 h1 {
    font-size: 20px;
    position: absolute;
    left: 1.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day4 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day5 {
    width: 85vw;
    height: 39rem;
    position: absolute;
    top: 165rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day5 h1 {
    font-size: 20px;
    position: absolute;
    left: 1.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day5 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day6 {
    width: 85vw;
    height: 20rem;
    position: absolute;
    top: 215rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day6 h1 {
    font-size: 18px;
    position: absolute;
    left: 1rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day6 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day7 {
    width: 85vw;
    height: 18rem;
    position: absolute;
    top: 244rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day7 h1 {
    font-size: 20px;
    position: absolute;
    left: 1rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day7 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .border_vertical4 {
    width: 5.4px;
    height: 275rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 155rem;
    left: 20rem;
  }
  .border_vertical5 {
    width: 5.4px;
    height: 240rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 474rem;
    left: 20rem;
  }
}
@media screen and (max-width: 380px) and (min-width: 320px) {
  .border_vertical4 {
    width: 5.4px;
    height: 286rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 149rem;
    left: 18rem;
  }
  .border_vertical5 {
    width: 5.4px;
    height: 250rem;
    background-color: rgb(215, 141, 3);
    position: absolute;
    top: 494rem;
    left: 18rem;
  }
  .east .desc {
    position: absolute;
    top: 95rem;
  }
  .east_day {
    position: absolute;
    top: 119rem;
    left: -30rem;
  }
  .east_day .titre_east {
    font-size: 35px;
    position: absolute;
    left: 38rem;
    color: rgb(51, 25, 7);
    font-weight: 600;
    color: rgb(44, 187, 44);
    top: 16rem;
    width: 75vw;
    position: absolute;
  }
  .east_day .day1 {
    width: 85vw;
    height: 26rem;
    position: absolute;
    top: 27rem;
    left: 32.5rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day .day2 {
    width: 85vw;
    height: 36rem;
    position: absolute;
    top: 66rem;
    left: 32.5rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day .day5 {
    width: 85vw;
    height: 19rem;
    position: absolute;
    top: 210rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day9 {
    width: 85vw;
    height: 20rem;
    position: absolute;
    top: 270rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day .day10 {
    width: 85vw;
    height: 16rem;
    position: absolute;
    top: 305rem;
    left: 33rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane {
    position: absolute;
    top: 470rem;
    left: 0rem;
  }
  .east_day_pangalane .titre_east {
    font-size: 21px;
    position: absolute;
    left: 1.5rem;
    color: rgb(51, 25, 7);
    font-weight: 600;
    color: rgb(44, 187, 44);
    font-weight: 600;
    top: -18rem;
    width: 90vw;
    position: absolute;
  }
  .east_day_pangalane .titre_east span {
    color: rgb(44, 187, 44);
    position: absolute;
    left: 2rem;
    top: 4rem;
  }
  .east_day_pangalane .day1 {
    width: 85vw;
    height: 26rem;
    position: absolute;
    top: -2rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day_pangalane .day2 {
    width: 85vw;
    height: 37rem;
    position: absolute;
    top: 35rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
    text-align: center;
  }
  .east_day_pangalane .day3 {
    width: 85vw;
    height: 33rem;
    position: absolute;
    top: 81rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day4 {
    width: 85vw;
    height: 38rem;
    position: absolute;
    top: 125rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day4 h1 {
    font-size: 18px;
    position: absolute;
    left: 0.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day4 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day5 {
    width: 85vw;
    height: 42rem;
    position: absolute;
    top: 175rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day5 h1 {
    font-size: 20px;
    position: absolute;
    left: 1.4rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day5 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day6 {
    width: 85vw;
    height: 23rem;
    position: absolute;
    top: 228rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day6 h1 {
    font-size: 18px;
    position: absolute;
    left: 0.5rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day6 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 9rem;
    color: rgb(45, 45, 45);
  }
  .east_day_pangalane .day7 {
    width: 85vw;
    height: 18rem;
    position: absolute;
    top: 262rem;
    left: 3rem;
    border-radius: 4px;
    background-color: rgb(215, 141, 3);
  }
  .east_day_pangalane .day7 h1 {
    font-size: 20px;
    position: absolute;
    left: 1rem;
    color: rgb(51, 25, 7);
    font-weight: 550;
  }
  .east_day_pangalane .day7 p {
    font-size: 18.5px;
    position: absolute;
    left: 1rem;
    top: 7rem;
    color: rgb(45, 45, 45);
  }
}
@media screen and (max-width: 764px) and (min-width: 360px) {
  .logoBurger {
    right: 36rem;
    top: 0rem;
    z-index: 4;
  }
  .title_east {
    top: 67.4rem;
  }
  .east .desc {
    top: 77rem;
  }
}

/*# sourceMappingURL=small.css.map */
